<?xml version='1.0' encoding='utf-8'?>
<widget id="com.merzlabs.android.cordovaservo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Servo</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="http://localhost:5000" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="file:///*" />
    <access origin="file:///*" />
    <!-- Increase load timeout for Servo which takes longer to initialize (60 seconds) -->
    <preference name="LoadUrlTimeoutValue" value="60000" />

    <config-file target="AndroidManifest.xml" parent="/*"
        xmlns:android="http://schemas.android.com/apk/res/android">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    </config-file>
</widget>
